---
import BaseLayout from "../layouts/BaseLayout.astro";
import HelloVue from "../components/HelloVue.vue";
---

<BaseLayout title="coolmasterclown.com" description="Personal site">
  <h1>coolmasterclown.com</h1>

  <p>Work in progress.</p>

  <HelloVue client:load />
</BaseLayout>
